@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
  --font-display: "Urbanist" , sans-serif;
  --breakpoint-3xl: 1920px;
  --color-primary: #8DFF69;
}

@layer base{
  html{
    font-family: var(--font-display);
    scroll-behavior: smooth;
    user-select: none;
  }

  body{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #000000;
    color: #ffffff;
    overflow-x: hidden;
  }
}